<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.home.bike.repository.BikeMapper">

	<insert id="insert" parameterType="com.ssafy.home.bike.dto.BikeDTO">
		INSERT INTO BIKEINFO (rent_id, rent_name, address1, address2, lat, lng)
		VALUES (#{rentId}, #{rentName}, #{address1}, #{address2}, #{lat}, #{lng})
	</insert>
</mapper>