<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.home.board.repository.BoardMapper">
	

	<insert id="writeBoard" parameterType="com.ssafy.home.board.dto.BoardDTO" useGeneratedKeys="true" keyProperty="bno" keyColumn="BNO"> 
		INSERT INTO QNA_BOARD(TITLE, user_id, CONTENT, regtime, sido, gugun)
		VALUES (#{title},#{user_id},#{content},NOW(),#{sido},#{gugun})
	</insert>

	<update id="updateHit" parameterType="int"> 
		UPDATE QNA_BOARD SET
		hit = hit+1
		WHERE BNO = #{bno}
	</update>

	<select id="selectList" resultType="com.ssafy.home.board.dto.BoardDTO"> <!-- rrrr이라는 resultMap에 가서 달라지는 것만 담도록함, 따라가서 담기도록 하는 것 -->
		SELECT BNO, TITLE, content, user_id, regtime, hit, sido, gugun <!-- 이름이 달라서 write_date, read_count 는 안들어갈 수 있다 => resultMap -->
		FROM QNA_BOARD
		WHERE gugun = #{gugun}
		ORDER BY BNO DESC
		LIMIT #{start}, #{cnt} <!-- 파라미터를 따로 안잡아도 된다. -->
	</select>
		
	<select id="getTotalCount" resultType="int">
		SELECT COUNT(*)
		FROM QNA_BOARD
		WHERE gugun = #{gugun}
	</select>
	
	<select id="selectOne" resultType="com.ssafy.home.board.dto.BoardDTO">
		SELECT BNO, TITLE, user_id, regtime, hit, CONTENT, sido, gugun
		FROM QNA_BOARD
		WHERE BNO = #{bno}
	</select>
	
	<update id="modifyBoard" parameterType="com.ssafy.home.board.dto.BoardDTO">
		UPDATE QNA_BOARD
		SET TITLE=#{title}, CONTENT=#{content} 
		WHERE BNO = #{bno}
	</update>

	<delete id="deleteBoard" parameterType="int">
		DELETE FROM QNA_BOARD WHERE BNO = #{bno}
	</delete>

</mapper>